* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  background-color: #fff;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.header {
  padding: 20px 15px;
  border-bottom: 10px double #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #222;
  font-size: 25px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.backBtn {
  background: #222;
  color: #fff;
  border: 4px groove #222;
  border-radius: 4px;
  font-size: 80%;
  cursor: pointer;
  margin-right: 10px;
  width: 80px;
}

.modeBtn {
  background: none;
  border: none;
  font-size: 200%;
  cursor: pointer;
}

.posts-container {
  border: 2px solid #000;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}

.post-title {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  font-size: 25px;
}

.post-content {
  padding: 10px;
  min-height: 75px;
  font-size: 15px;
}

.post-user {
  font-size: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 130px;
  border-top: 10px double #222;
  padding: 5px;
}

.footer h3 {
  display: flex;
  justify-content: center;
}

.footer a {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: #222;
  padding: 4px;
}

/* Dark Mode */
.dark {
  background: #222;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.dark .header {
  border-bottom: 10px double #fff;
}

.dark .header h1 {
  color: #fff;
}

.dark .backBtn {
  background: #fff;
  color: #222;
  border: 4px groove #fff;
}

.dark .posts-container {
  border: 2px solid #fff;
}

.dark .posts-title {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.dark .posts-container p {
  color: #fff;
}

.dark .footer {
  border-top: 10px double #fff;
  color: #fff;
}

.dark footer a {
  color: #fff;
}

/* Tablet Styles  */
@media screen and (min-width: 768px) {
}

/* Desktop Styles  */
@media screen and (min-width: 1100px) {
}

/* Extra Large Styles  */
@media screen and (min-width: 1440px) {
}
