:root {
  --light-color: #ffffff;
  --dark-color: #222222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  background-color: var(--light-color);
  height: 100vh;
}

.header {
  padding: 20px 15px;
  border-bottom: 10px double var(--dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--dark-color);
  font-size: 25px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.backBtn {
  background: var(--dark-color);
  color: var(--light-color);
  border: 4px groove var(--dark-color);
  border-radius: 4px;
  font-size: 80%;
  cursor: pointer;
  margin-right: 10px;
  width: 80px;
  height: 30px;
}

.clearBtn {
  background: var(--dark-color);
  color: var(--light-color);
  border: 4px groove var(--dark-color);
  border-radius: 4px;
  font-size: 80%;
  cursor: pointer;
  margin-right: 10px;
  width: 80px;
  height: 30px;
}

.modeBtn {
  background: none;
  border: none;
  font-size: 200%;
  cursor: pointer;
}

/* blog posts */
.posts-container {
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}

.post-title {
  border-bottom: 1px solid var(--dark-color);
  padding-bottom: 10px;
  font-size: 25px;
}

.post-content {
  padding: 10px;
  min-height: 75px;
  font-size: 15px;
}

.post-user {
  font-size: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 130px;
  border-top: 10px double var(--dark-color);
  padding: 5px;
}

.footer h3 {
  display: flex;
  justify-content: center;
}

.footer a {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: var(--dark-color);
  padding: 4px;
}

/* Dark Mode */
.dark {
  background: var(--dark-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.dark .header {
  border-bottom: 10px double var(--light-color);
}

.dark .header h1 {
  color: var(--light-color);
}

.dark .backBtn {
  background: var(--light-color);
  color: var(--dark-color);
  border: 4px groove var(--light-color);
}

.dark .clearBtn {
  background: var(--light-color);
  color: var(--dark-color);
  border: 4px groove var(--light-color);
}

.dark .posts-container {
  border: 2px solid var(--light-color);
}

.dark .post-title {
  border-bottom: 1px solid var(--light-color);
  color: var(--light-color);
}

.dark .posts-container p {
  color: var(--light-color);
}

.dark .footer {
  border-top: 10px double var(--light-color);
  color: var(--light-color);
}

.dark footer a {
  color: var(--light-color);
}
