* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.blog-fields {
  padding: 6px 0;
}

.blog-fields input {
  width: 350px;
  height: 30px;
}

.blog-fields textarea {
  width: 350px;
  min-height: 100px;
  resize: vertical;
  padding: 4px 0;
  font-family: inherit;
}

.blog-form {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-form h2 {
  padding: 20px 0;
}

.submitBtn input {
  background-color: #000;
  color: #fff;
  min-width: 350px;
  min-height: 30px;
}

/* Dark Mode */
.dark .blog-fields input,
.dark .blog-fields textarea {
  background-color: #222;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
}

.dark .submitBtn input {
  background-color: #fff;
  color: #222;
}

@media screen and (min-width: 768px) {
  .blog-form {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .blog-fields input,
  .blog-fields textarea {
    width: 550px;
    height: 30px;
  }

  .blog-form {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .submitBtn input {
    background-color: #000;
    color: white;
    min-width: 550px;
    min-height: 30px;
  }

  .dark .blog-fields input,
  .dark .blog-fields input {
    width: 550px;
    height: 30px;
  }
}
