* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  background-color: #fff;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(#e66465, #9198e5);
}

.header {
  padding: 20px 15px;
  border-bottom: 10px double #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modeBtn {
  background: none;
  border: none;
  font-size: 200%;
  cursor: pointer;
}

.logo {
  padding: 20px 15px;
  border-bottom: 10px double #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  color: #fff;
  font-size: 35px;
  position: absolute;
}

.logo h1:nth-child(2) {
  margin-top: 50px;
}

.logo h1:nth-child(3) {
  margin-top: 125px;
}

.logo h1:nth-child(4) {
  margin-top: 200px;
}

/* Dark Mode */
.dark {
  background-color: #222;
}

.dark .circle {
  background: linear-gradient(#d10000, #000000);
}

.dark .header {
  border-bottom: 10px double #fff;
}

.dark .logo {
  border-bottom: 10px double #fff;
}

.dark h1 {
  color: #222;
  font-size: 35px;
  position: absolute;
}

.dark .blog-form {
  color: #fff;
}

/* Tablet Styles  */
@media screen and (min-width: 768px) {
  .circle {
    width: 400px;
    height: 400px;
  }

  .header {
    flex-wrap: nowrap;
  }

  .main-content {
    display: flex;
    justify-content: space-evenly;
    height: 89vh;
  }

  .logo {
    padding: 20px 90px 20px 15px;
    border-right: 10px double #000;
    border-bottom: none;
    justify-content: space-evenly;
  }

  .dark .logo {
    border-right: 10px double #fff;
    border-bottom: none;
  }

  .logo h1:nth-child(2) {
    margin-top: -150px;
  }

  .logo h1:nth-child(3) {
    margin-top: 0px;
  }

  .logo h1:nth-child(4) {
    margin-top: 150px;
  }
}

/* Desktop Styles  */
@media screen and (min-width: 1100px) {
  .circle {
    width: 400px;
    height: 400px;
  }

  .header {
    flex-wrap: nowrap;
  }

  .main-content {
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    padding: 20px 105px 20px 15px;
    border-right: 10px double #000;
    border-bottom: none;
    justify-content: space-evenly;
  }

  .logo h1:nth-child(2) {
    margin-top: -150px;
  }

  .logo h1:nth-child(3) {
    margin-top: 0px;
  }

  .logo h1:nth-child(4) {
    margin-top: 150px;
  }
}

/* Extra Large Styles  */
@media screen and (min-width: 1440px) {
  .circle {
    width: 400px;
    height: 400px;
  }

  .header {
    flex-wrap: nowrap;
  }

  .main-content {
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    padding: 20px 130px 20px 15px;
    border-right: 10px double #000;
    border-bottom: none;
    justify-content: space-evenly;
  }

  .logo h1:nth-child(2) {
    margin-top: -150px;
  }

  .logo h1:nth-child(3) {
    margin-top: 0px;
  }

  .logo h1:nth-child(4) {
    margin-top: 150px;
  }
}
